.column {
  padding: 10px;
  flex-basis: 300px;

  h3, input {
    margin-top: 5px;
  }
  
  .header {
    position: relative;
    display: flex;
    margin-bottom: 5px;
    
    button {
      position: absolute;
      right: 0px;
      top: -10px;
      margin-top: 8px;
    }
  }
};  