@import '../../../variables.scss';

.task:hover{
    background-color: $gray;
    border-radius: 4px;
};
.task{
    display: flex;
    justify-content: space-between;
    padding:5px;
    border:1px dashed #c7c7c7;
    margin-bottom: 5px;
    
    p{
        margin:0
    }
};